<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEdit ? "Edit ":"New "}} {{form.controls.type.value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <form [formGroup]="form"
          (ngSubmit)="save()">

      <ion-segment [value]="form.controls.type.value"
                   (ionChange)="selectType($event)">
        <ion-segment-button value="Deposit">
          <ion-icon class="deposit"
                    name="add-circle-outline"></ion-icon>
          <ion-label class="deposit"> Deposit </ion-label>
        </ion-segment-button>
        <ion-segment-button value="Withdraw">
          <ion-icon class="withdraw"
                    name="remove-circle-outline"></ion-icon>
          <ion-label class="withdraw">Withdraw</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Transfer">
          <ion-icon class="transfer"
                    name="arrow-redo-outline"></ion-icon>
          <ion-label class="transfer">Transfer</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-item lines="full">
        <ion-label position="floating">Date</ion-label>
        <ion-input formControlName="date"
                   placeholder="Enter date"
                   type="date"></ion-input>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.date.errors?.required">
        Date is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.date.errors?.remoteError">
        {{controls.date.errors.remoteError}}
      </span>

      <ion-item lines="full">
        <ion-label position="floating"> <span *ngIf="this.form.controls.type.value==='Transfer'">From</span> Account
        </ion-label>
        <ionic-selectable #accountComponent
                          formControlName="account"
                          [items]="accounts"
                          placeholder="Select account"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="false">
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar color="primary">
              <ion-icon name="close-circle"
                        class="close-button"
                        slot="end"
                        (click)="accountComponent.close()"></ion-icon>
              <ion-title>
                Select Account
              </ion-title>
            </ion-toolbar>
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.account.errors?.required">
        Account is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.account.errors?.remoteError">
        {{controls.account.errors.remoteError}}
      </span>

      <ion-item lines="full"
                *ngIf="this.form.controls.type.value==='Transfer'">
        <ion-label position="floating">To Account</ion-label>
        <ionic-selectable #toAccountComponent
                          formControlName="toAccount"
                          [items]="accounts"
                          [required]=" this.form.controls.type.value==='Transfer'"
                          placeholder="Select account"
                          itemValueField="id"
                          itemTextField="name"
                          [canSearch]="false">
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar color="primary">
              <ion-icon name="close-circle"
                        class="close-button"
                        slot="end"
                        (click)="toAccountComponent.close()"></ion-icon>
              <ion-title>
                Select Account
              </ion-title>
            </ion-toolbar>
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.toAccount.errors?.required">
        Account is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.toAccount.errors?.remoteError">
        {{controls.toAccount.errors.remoteError}}
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Amount</ion-label>
        <ion-input formControlName="amount"
                   placeholder="Enter amount"
                   type="number"></ion-input>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.amount.errors?.required">
        Amount is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.amount.errors?.remoteError">
        {{controls.amount.errors.remoteError}}
      </span>

      <ion-item lines="full"
                *ngIf="this.form.controls.type.value!=='Transfer'">
        <ion-label position="floating">Payee</ion-label>
        <ionic-selectable #payeeComponent
                          formControlName="payee"
                          [items]="filteredPayees"
                          placeholder="Select payee"
                          itemValueField="id"
                          itemTextField="name"
                          [hasVirtualScroll]="true"
                          (onChange)="findCategory($event)"
                          [canSearch]="true"
                          (onSearch)="searchPayees($event)">
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar color="primary">
              <ion-icon name="close-circle"
                        class="close-button"
                        slot="end"
                        (click)="payeeComponent.close()"></ion-icon>
              <ion-title>
                Select Payee
              </ion-title>
            </ion-toolbar>
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.payee.errors?.required">
        Payee is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.payee.errors?.remoteError">
        {{controls.payee.errors.remoteError}}
      </span>

      <ion-item lines="full"
                *ngIf="this.form.controls.type.value!=='Transfer'">
        <ion-label position="floating">Category</ion-label>
        <ionic-selectable #categoryComponent
                          formControlName="category"
                          [items]="filteredCategories"
                          placeholder="Select category"
                          itemValueField="id"
                          itemTextField="name"
                          groupValueField="category_id"
                          groupTextField="category_name"
                          [canSearch]="true"
                          (onSearch)="searchCategories($event)">
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar color="primary">
              <ion-icon name="close-circle"
                        class="close-button"
                        slot="end"
                        (click)="categoryComponent.close()">
              </ion-icon>
              <ion-title>
                Select Category
              </ion-title>
            </ion-toolbar>
            <ion-item *ngIf="recentCategories.length>0"
                      (click)="showRecent=!showRecent">
              <ion-icon slot="start"
                        *ngIf="!showRecent"
                        name="chevron-forward-outline"></ion-icon>
              <ion-icon slot="start"
                        *ngIf="showRecent"
                        name="chevron-down-outline"></ion-icon>
              <span class="category-header">Categories of payee: {{form.controls.payee.value.name}}</span>
            </ion-item>
            <ion-radio-group *ngIf="recentCategories.length>0 && showRecent"
                             formControlName="category"
                             (ionChange)="categoryComponent.close();selectCategory($event)">

              <ion-item *ngFor="let category of recentCategories">
                <ion-radio slot="start"
                           [value]="category"></ion-radio>
                <ion-label>{{category.category_name}} / {{category.name}}</ion-label>
              </ion-item>
            </ion-radio-group>

          </ng-template>
          <ng-template ionicSelectableGroupTemplate
                       let-group="group">
            <span class="cat-group">{{group.text}}</span>
          </ng-template>
          <ng-template ionicSelectableValueTemplate
                       let-category="value">
            {{category.category_name}} / {{category.name}}
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.category.errors?.required">
        Category is required.
      </span>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.category.errors?.remoteError">
        {{controls.category.errors.remoteError}}
      </span>

      <ion-item lines="full"
                *ngIf="this.form.controls.type.value!=='Transfer'">
        <ion-label position="floating">Tags</ion-label>
        <ionic-selectable #tagComponent
                          formControlName="tags"
                          [items]="filteredTags"
                          [isMultiple]="true"
                          placeholder="Select tag(s)"
                          itemValueField="id"
                          [hasVirtualScroll]="true"
                          itemTextField="name"
                          [canSearch]="true"
                          (onSearch)="searchTags($event)">
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar color="primary">
              <ion-icon name="close-circle"
                        class="close-button"
                        slot="end"
                        (click)="tagComponent.close()">
              </ion-icon>
              <ion-title>
                Select Tags
              </ion-title>
            </ion-toolbar>
          </ng-template>
          <ng-template ionicSelectableValueTemplate
                       let-tags="value">
            <span *ngFor="let tag of tags;index as i">{{ tag.name }}<span *ngIf="i<(tags.length-1)">, </span></span>
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <span class="error ion-padding"
            *ngIf="isSubmitted && controls.tags.errors?.remoteError">
        {{controls.tags.errors.remoteError}}
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea formControlName="notes"
                      placeholder="Enter notes"></ion-textarea>
      </ion-item>

      <span class="error ion-padding"
            *ngIf="isSubmitted && errors">
        <span *ngFor="let error of errors">
          {{error.name}} : {{error.error}}
        </span>
      </span>
    </form>
  </ion-content>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="button"
                      color="light"
                      (click)="close()"
                      expand="block">Cancel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit"
                      (click)="save()"
                      expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>