<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content class="ion-padding">
    <form [formGroup]="form"
          (ngSubmit)="save()"
          novalidate>

      <ion-grid>
        <ion-row>
          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name"
                         type="text"
                         required></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.name.errors?.remoteError">
              {{controls.name.errors.remoteError}}
            </span>
            <span class="error"
                  *ngIf="isSubmitted && controls.name.errors?.required">
              Name is required.
            </span>
            <span class="error"
                  *ngIf="isSubmitted && controls.name.errors?.minlength">
              Name should be min 2 chars long.
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Account Type</ion-label>
              <ion-select *ngIf="!shared.isWeb"
                          interface="popover"
                          formControlName="accountType"
                          placeholder="Select Account Type"
                          [selectedText]="getName()">
                <ion-select-option [value]="type.local_id"
                                   *ngFor="let type of accountTypes">
                  {{type.name}}</ion-select-option>
              </ion-select>
              <ion-select *ngIf="shared.isWeb"
                          interface="popover"
                          formControlName="accountType"
                          placeholder="Select Account Type"
                          [selectedText]="getName()">
                <ion-select-option [value]="type.id"
                                   *ngFor="let type of accountTypes">
                  {{type.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.accountType.errors?.remoteError">
              {{controls.accountType.errors.remoteError}}
            </span>
            <span class="error"
                  *ngIf="isSubmitted && controls.accountType.errors?.required">
              Account Type is required.
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Inital Balance</ion-label>
              <ion-input formControlName="initialBalance"
                         type="number"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.initialBalance.errors?.remoteError">
              {{controls.initialBalance.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Minimum Balance</ion-label>
              <ion-input formControlName="minimumBalance"
                         type="number"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.minimumBalance.errors?.remoteError">
              {{controls.minimumBalance.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Credit limit</ion-label>
              <ion-input formControlName="creditLimit"
                         type="number"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.creditLimit.errors?.remoteError">
              {{controls.creditLimit.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Interest rate</ion-label>
              <ion-input formControlName="interestRate"
                         type="number"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.interestRate.errors?.remoteError">
              {{controls.interestRate.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Payment Date</ion-label>
              <ion-input formControlName="paymentDate"
                         type="number"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.paymentDate.errors?.remoteError">
              {{controls.paymentDate.errors.remoteError}}
            </span>
            <span class="error"
                  *ngIf="isSubmitted && controls.paymentDate.errors?.max">
              Payment Date should be between 1-31.
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label>Include Balance calculation?</ion-label>
              <ion-checkbox slot="start"
                            formControlName="includeInBalance"
                            type="checkbox"></ion-checkbox>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.includeInBalance.errors?.remoteError">
              {{controls.includeInBalance.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label position="floating">Notes</ion-label>
              <ion-input formControlName="notes"
                         type="text"></ion-input>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.notes.errors?.remoteError">
              {{controls.notes.errors.remoteError}}
            </span>
          </ion-col>

          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label>Hide in Dashboard?</ion-label>
              <ion-checkbox slot="start"
                            formControlName="excludeFromDashboard"
                            type="checkbox"></ion-checkbox>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.excludeFromDashboard.errors?.remoteError">
              {{controls.excludeFromDashboard.errors.remoteError}}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"
                   size-lg="6">
            <ion-item lines="full">
              <ion-label>Is Active?</ion-label>
              <ion-checkbox slot="start"
                            formControlName="isActive"
                            type="checkbox"></ion-checkbox>
            </ion-item>

            <span class="error"
                  *ngIf="isSubmitted && controls.isActive.errors?.remoteError">
              {{controls.isActive.errors.remoteError}}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="button"
                      color="light"
                      (click)="close()"
                      expand="block">Cancel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit"
                      (click)="save()"
                      expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>