<ion-tabs>
    <ion-tab-bar #tabBar
                 slot="bottom">
        <ion-tab-button tab="dashboard">
            <fa-icon icon="home"></fa-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="accounts">
            <fa-icon icon="university"></fa-icon>
            <ion-label>Accounts</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="transactions">
            <fa-icon icon="exchange-alt"></fa-icon>
            <ion-label>Transactions</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="entities">
            <fa-icon icon="building"></fa-icon>
            <ion-label>Entities</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>