<ion-content ion-padding>
  <div class="outter-window">
    <div class="sign-up-box">

      <div class="content">
        <div class="header">
          <div class="icon">
            <div class="heading">Let's Start</div>
            <ion-thumbnail>
              <img src="../assets/icon/favicon.png">
            </ion-thumbnail>
          </div>
        </div>

        <div class="sign-up">
          <span class="header">Sign in with</span>

          <div class="options">

            <div class="option">
              <ion-thumbnail (click)="googleSignIn()">
                <img src="../assets/icon/google.svg">
              </ion-thumbnail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>