<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="save()" novalidate>

      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && controls.name.errors?.remoteError">
        {{controls.name.errors.remoteError}}
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && controls.name.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && controls.name.errors?.minlength">
        Name should be min 2 characters long.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && controls.name.errors?.maxlength">
        Name should be max 100 characters long.
      </span>

      <ion-row>
        <ion-col>
          <ion-button type="button" size="small" color="light" (click)="close()" expand="block">Cancel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" size="small" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>

</ion-content>