.negative {
    color: red;
    text-align: right;
}

.positive {
    color: green;
    text-align: right;
}

ion-grid,
ion-col {
    padding: 0px;
}

ion-item#header {
    font-size: 1rem;
    cursor: pointer;
    padding-top: 5px;
}

ion-item#item {
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 5px;
}

fa-icon {
    font-size: 2rem;
}

.content {
    margin-bottom: 60px;
}
