<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/entities"></ion-back-button>
    </ion-buttons>
    <ion-title>Payees</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar type="text"
                     debounce="500"
                     (ionChange)="filterItems($event)"></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12"
               size-md="6"
               size-lg="6"
               *ngFor="let payee of displayedPayees">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                {{payee.name}}
              </ion-col>
              <ion-col size="1.5">
                <ion-icon (click)="edit(payee)"
                          name="create-outline"></ion-icon>
              </ion-col>
              <ion-col size="1.5">
                <ion-icon (click)="delete(payee)"
                          name="trash-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filteredPayees.length <= 0">
      <ion-col>
        <p>No records found</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px"
                       (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ion-fab-button (click)="create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>